<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hji.myfirstandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    // sdcard
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ScrollActivity" />
        <activity android:name=".load_picture.PictureActivity$SecondActivity" />
        <activity android:name=".IntentActivity" />

        <uses-permission android:name="android.permission.CALL_PHONE" />

        <activity
            android:name=".exam_lifecycle.LifeCycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".exam_coffee.CoffeeActivity" />
        <activity android:name=".exam_listview.ListViewActivity" />
        <activity android:name=".exam_webview.WebViewActivity" />
        <activity android:name=".exam_fragment.FragmentExamActivity" />
        <activity android:name=".exam_viewpager.ScreenSlideActivity" />
        <activity android:name=".exam_eventbus.EventBusActivity" />
        <activity android:name=".exam.BasketBallActivity" />
        <activity android:name=".exam_thread.ThreadActivity" />
        <activity android:name=".exam_thread.AsyncTaskActivity" />
        <activity android:name=".exam.SignUpActivity" />
        <activity android:name=".exam.SignUp2Activity" />
        <activity android:name=".exam_broadcast.BroadCastActivity" />

        <receiver
            android:name=".exam_broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".exam_parsing.JsonParsingActivity" />
        <activity
            android:name=".notepad.activitys.NoteMainActivity"
            android:label="@string/title_activity_note_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- http://developer.android.com/intl/ko/training/basics/intents/filters.html#AddIntentFilter -->
        <activity android:name=".notepad.activitys.MemoEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".exam_wether.WetherActivity" />
        <activity android:name=".exam_fab_dialog.FabAndDialogActivity" />
        <activity android:name=".exam.Exam212Activity" />

        <provider
            android:name=".notepad.provider.MyMemoProvider"
            android:authorities="com.hji.myfirstandroidapp.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".load_picture.PictureActivity" />
        <activity
            android:name=".notepad.activitys.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".load_picture.PictureNetworkActivity" />
        <activity android:name=".chat.ChatActivity"
        android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>
